{% extends 'base_seller.html' %}
{% load static %}

{% block title %} Seller - Dashboard {% endblock %}

{% block css %}
<style>
     .card {
            border: none; /* Remove default border */
            border-radius: 10px; /* Rounded corners */
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* More prominent shadow */
            transition: transform 0.2s; /* Smooth transition on hover */
        }

        .card:hover {
            transform: scale(1.05); /* Zoom effect on hover */
        }

        .card-title {
            font-weight: bold; /* Make card titles bold */
        }

        .card-text {
            font-size: 18px; /* Increase text size for better visibility */
            margin: 0; /* Remove default margin */
        }


</style>
{% endblock %}

{% block body %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card p-3">
                <div class="card-body">
                    <h5 class="card-title">Total Rental Products</h5>
                    <p class="card-text">{{ products }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card p-3">
                <div class="card-body">
                    <h5 class="card-title">Total Resell Products</h5>
                    <p class="card-text">{{ resell_products }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card p-3">
                <div class="card-body">
                    <h5 class="card-title">Total Order</h5>
                    <p class="card-text">{{ order_items }}</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}