{% extends 'base1.html' %}
{% load static %}

{% block title %}StyleSurfer-Groom{% endblock %}

{% block css %}
<style>
    .img_box img{
    width: 100%;
    /* height: 75%; */
    transition: all 3s;
}


.img_box :hover{
    transform: scale(1.1);
}
.card_slider{
    padding: 45px 0;
}
.swiper-button-next,.swiper-button-prev {
    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.611);
    text-align: center;
}
.swiper-button-next::after,.swiper-button-prev::after {
     font-size: 17px;
}
.swiper-pagination-bullet {
     background-color: black;
}
.swiper-pagination-bullet-active {
     background-color: black;
}
.slider_container{
    margin-top: 3.5%;
  }

.rent-by{
    font-size: xx-large;
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing : .1em;
    margin-top: 5%;
}
@media (max-width: 576px){
    .rent-by{
        font-size: 20px;
    }
}
@media (max-width: 768px){
    .rent-by{
        font-size: 20px;
    }
}
@media (max-width: 320px){
    .rent-by{
        font-size: 15px;
    }
}

.product-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
    margin-top: 5%;



}
.button-item_s p{
        border: 1px solid black;
        color: black;
        padding: 15px;
        border-radius: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        background-color: transparent;
        transition: 0.4s;
        cursor: pointer;

}

.button-item_s :hover{
    background-color: black;
    color: white;
}

.product-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}
.btn-dark{
        border: 1px solid black;
        color: black;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 15px;
        background-color: transparent;
        transition: 0.4s;
}
.button-item_ss  :hover{
    background-color: #2C1608;
    color: white;

}
/* .content {
    padding: 50px 0;

} */
.content h2 {

    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 40px;

}
.content p {

    font-size: 18px;
    color: #6c757d;
    /* padding: 40px; */
    padding-top: 3px;

}

@media (max-width: 576px){
    .content {
        padding: 20px 0;

    }
    .content h2{
        font-size: 20px;
        margin-right: 40px;
    }
    .content p{
        font-size: 15px;
        padding-bottom: 10px;
    }
    }
    @media (max-width: 768px){

        .content h2{
            font-size: 20px;
        }
        .content p{
            font-size: 12px;
            padding-bottom: 10px;
        }
        }
        @media (max-width: 320px){
            .content {
                padding: 20px 0;

            }
            .content h2{
                font-size: 18px;
                margin-right: 40px;
            }
            .content p{
                font-size: 12px;
                padding-bottom: 10px;
            }
        }
.rent-by-groom {
    font-size: xx-large;
    text-align: center;
    color: black;
    text-transform: uppercase;
    letter-spacing : .1em;
    margin-top: 10%;
}

@media (max-width: 576px){
.rent-by-groom{
    font-size: 20px;
}
}
@media (max-width: 768px){
.rent-by-groom{
    font-size: 20px;
}
}
@media (max-width: 320px){
    .rent-by-groom{
        font-size: 15px;
    }
}

/* our groom*/

.carousel-image {
    height: 750px;
    object-fit: cover;
    object-position: center;
}
@media (max-width: 576px){
    .carousel-image{
        height: auto;
    }
}
@media (max-width: 768px){
    .carousel-image{
        height: auto;
    }
}
@media (max-width: 320px){
    .carousel-image{
        height: auto;
    }
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 50%;


}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8);
}




  /* Card styling */

   .rent-by-groom-style-card{
    font-size: xx-large;
    text-align: center;
    color: black;
    text-transform: uppercase;
    letter-spacing : .1em;
    margin-top: 5%;
    margin-bottom: 5%;
   }

   @media (max-width: 576px){
    .rent-by-groom-style-card{
        font-size: 20px;
        margin-top: 2%;
    }
    }
    @media (max-width: 768px){
    .rent-by-groom-style-card{
        font-size: 20px;
        margin-top: 2%;
    }
    }
    @media (max-width: 320px){
        .rent-by-groom-style-card{
            font-size: 15px;
            margin-top: 2%;
        }
    }

   .groom-cards {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 5%;

  }

  .container1{
    width: 100%;
    /* background: linear-gradient(0deg, #513F38 0%, #ffffff 100%);*/
    background: linear-gradient(0deg, #2C1608 0%, #ffffff 96%, #ffffff 99%);
    padding: 50px;
    height: 100%;
    /* margin-top: 10%; */
    margin-bottom: 10%;

  }

  @media (max-width: 576px){
    .container1{
        margin-top: 4%;
        padding: 30px;
    }
    }
    @media (max-width: 768px){
        .container1{
            margin-top: 4%;
            padding: 40px;
        }
    }
    @media (max-width: 320px){
        .container1{
            margin-top: 4%;
            padding: 30px;
        }
    }

  .card {
    perspective: 1000px;

  }

  .card-inner {
    position: relative;
    width: 100%;
   height: 451px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  @media (max-width: 576px){
    .card-inner {
        width: 100%;
         height: 360px !important;
    }
    }
    @media (max-width: 768px){
        .card-inner {

            height: 451px !important;
        }
    }
    @media (max-width: 320px){
        .card-inner {
            height: 360px !important;
        }
    }

  .card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-back{
    height: 451px;
    text-align: center;

  }

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;

  }

  .card-front img {
    width: 100%;
    height: 70%;
    margin-bottom: 8px;
    object-fit: cover;

  }

  .card-front h3 {
    margin: 5px 0;
    font-size: 19px;

  }

  .card-back {
    background-image: url('https://w0.peakpx.com/wallpaper/547/943/HD-wallpaper-galaxy-black-mandala-purple-rose-space-thumbnail.jpg');
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
    font-size: 20px;

  }

  .card-back p {
   margin-top: 30% !important ;
  }

  .card-collection{
    color: white;
    border: 1px solid white;
  }



  .slider_container-sherwani{

    margin-bottom: 3.5%;
    padding: 2%;

  }

  .card_slider-sherwani{
    padding: 45px 0;
}

  .rent-by-sherwani{
    font-size: xx-large;
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing : .1em;

}
@media (max-width: 576px){
    .rent-by-sherwani{
        font-size: 20px;
    }
}
@media (max-width: 768px){
    .rent-by-sherwani{
        font-size: 20px;
    }
}
@media (max-width: 320px){
    .rent-by-sherwani{
        font-size: 15px;
    }
}












  /* review*/

  .swiper-container {

    padding: 40px;
    height: 100%;
    background: #f4f4f4;
    margin-top: 3%;


  }
  .card-review {
    width: 100%; /* Full width */
    margin: auto;
    padding: 90px;

  }

  .card-reviewss .swiper-slide {
    text-align: center;
    background: #f9f9f9;
    padding: 50px 40px 50px 40px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    width: 93%;
    height: 400px;
    transition: transform 0.6s ease, z-index 0.3s ease;
  }
  .card-reviewss .swiper-slide:hover {
    transform: scale(1.15);
    z-index: 4;
  }

  .stars {
    font-size: 30px;
    color: #FFD700;
    margin-bottom: 10px;
  }

  .card-reviewss .swiper-slide .name {
    font-size: 22px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
  }

  .card-reviewss .swiper-slide .text {
    font-size: 18px;
    color: black;
    margin-top: 15px;
    line-height: 1.8;
  }

  .swiper-pagination {
    margin-top: 25px;
  }


  @media (max-width: 788px) {
    .card-reviewss .swiper-slide {
          height: 385px;
          padding: 30px 20px 30px 20px;
      }

  }
@media (max-width: 1195px) {
    .card-review {
      padding: 30px 10px;
    }

    .card-reviewss .swiper-slide {
      width: 95%;
      height: 385px;
      padding: 50px 60px 50px 60px;

    }

    .stars {
      font-size: 22px;
    }

    .card-reviewss .swiper-slide .name {
      font-size: 16px;
    }

    .card-reviewss .swiper-slide .text {
      font-size: 14px;
    }
  }


  @media (max-width: 480px) {

    .stars {
      font-size: 19px;
    }

    .card-reviewss .swiper-slide {
        height: 385px;
        padding: 30px 40px 30px 40px;
    }
    .card-reviewss .swiper-slide .name {
      font-size: 18px;

    }

    .card-reviewss .swiper-slide .text {
      font-size: 13px;
    }
  }

  @media (max-width: 320px) {

    .card-reviewss .swiper-slide {
        width: 95%;
        height: 383px;
        padding: 25px 55px 25px 55px;
      }
      .card-reviewss .swiper-slide .text {
        font-size: 12px;
      }

    .swiper-pagination {
     margin-top: 28px;
  }

}
  .rent-by-groom-review {
    font-size: xx-large;
    text-align: center;
    color: black;
    text-transform: uppercase;
    letter-spacing : .1em;
    margin-top: 3%;
}


@media (max-width: 576px){
.rent-by-groom-review{
    font-size: 20px;
}
}
@media (max-width: 768px){
.rent-by-groom-review{
    font-size: 20px;
}
}
@media (max-width: 320px){
    .rent-by-groom-review{
        font-size: 15px;
    }
}

.head-work {
    text-align: center;
    margin-top: 20px;
    color: #453229;
    position: relative;
}

.head-work::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 7%;
    height: 2px;
    background-color: #000;
}

</style>
{% endblock %}

{% block body %}
<div id="carouselExampleIndicators" class="carousel slide  mb-6" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'images/groom01.png' %}" width="100px" height="30%" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'images/groom02.jpeg' %}"width="100px"  height="30%" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'images/groom03.jpeg' %}"width="50px"   alt="Third slide">
      </div>
    </div>
</div>

<section class="slider_container"   >
    <div class="rent-by">
        <p class="head-work"> EXPERIENCE MORE</p>
    </div>
    <div class="swiper card_slider ">
        <div class="swiper-wrapper">
          {% for product in products %}
            <div class="swiper-slide">
                <div class="img_box">
                  <a href="{% url 'prod_desc' product.id %}">
                    <img src="{{ product.image_front.url }}" alt="{{ product.name }}" width="300px" height="300px">
                  </a>
                  </div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</div>

</section>

<div class="row p-4 pb-0   " >
    <div class="col-sm-6 col-12 pb-3 col-md-6 d-flex justify-content-center " >
       <div class="media-wrap">
            <img src="{% static 'images/mirror.jpg' %}" class="img-fluid" loading="lazy" width="100%" >

       </div>

    </div>
    <div class="col-sm-6 col-12 pb-2 col-md-6 d-flex justify-content-center" >
       <div class="media-wrap">
        <video  autoplay muted loop width="100%" data-bs-toggle="modal" data-bs-target="#videoo">
            <source src="{% static 'images/mirror_2.mp4' %}">
        </video>

       </div>
    </div>

 <div class="modal fade" id="videoo">
    <div class="modal-dialog ">

        <div class="modal-content ">

            <div class="modal-body ">
                <video  autoplay muted loop width="100%" height="100%" >
                    <source src="{{ bestsellers_url1 }}">
                </video>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container content">
    <div class="row align-items-center" >
     <div class="col-md-6 text-center text-md-start  pb-3 animate"  >
      <h2 class="head-work">
       Enhance Your Special Occasion
      </h2>
      <p style="color: #453229; opacity: 80%; text-align: center;">
       Discover timeless elegance and cultural richness at Stylesurfer
        Ethnic Wear. Elevate your special occasion with exquisite traditional attire that exudes sophistication and style.
      </p>
     </div>
     <div class="col-md-6 text-center animate">
      <img src="https://blog.salwari.com/wp-content/uploads/2022/11/featured--1024x576.webp" width="600" height="600" class="img-fluid">
     </div>
    </div>
   </div>

   <div class="container content">
    <div class="row align-items-center mt-4">
     <div class="col-md-6 text-center animate" >
      <img src="https://emperiogrand.com/wp-content/uploads/2024/09/1-1024x576.jpg" width="600px" height="600px"class="img-fluid">
     </div>
     <div class="col-md-6 text-center text-md-start mt-4 pb-2 animate " >
        <h2 class="head-work">
            Engagement
        </h2>
        <p style="color: #453229; opacity: 80%; text-align: center;">

            Celebrate your engagement in style with outfits that blend tradition and modern elegance, making every moment as special as your love story.
        </p>
        <div class="product-buttons" >
            <div class="button-item_ss">
                <a href="{% url 'product' 'Engagement' %}" class="btn btn-dark px-4 py-2">View Collection</a>
            </div>
        </div>
    </div>
   </div>
   </div>

   <div class="container content">
    <div class="row align-items-center">
     <div class="col-md-6 text-center text-md-start  pb-3 animate"  >
      <h2 class="head-work">
        Mehndi
      </h2>
      <p style="color: #453229; opacity: 80%; text-align: center;">
        Make your Mehndi celebration unforgettable with StyleSurfer’s exclusive collection. From vibrant hues to intricate patterns, we offer outfits that blend tradition with contemporary flair, ensuring you look radiant and feel comfortable as you dance the night away.      </p>
      <div class="product-buttons" >
        <div class="button-item_ss">
            <a href="{% url 'product' 'Mehndi' %}" class="btn btn-dark px-4 py-2">View Collection</a>
        </div>
    </div>
     </div>
     <div class="col-md-6 text-center animate">
      <img src="https://static1.squarespace.com/static/6564afb4f0851760cfcdde58/t/65a6da92676f4671557f23cf/1705433746287/Harini-Aswin-MCC-Hall-Chennai-0609+-+Copy.jpg?format=1500w" width="600px"  height="600px" class="img-fluid">
     </div>
    </div>
   </div>
   
   <div class="container content">
    <div class="row align-items-center mt-4">
     <div class="col-md-6 text-center animate " >
      <img src="https://weddingvows.com/wp-content/uploads/2024/01/Song-2-2-1024x576.jpg" width="600" height="600"class="img-fluid">
     </div>
     <div class="col-md-6 text-center text-md-start mt-4 pb-2 animate" >
        <h2 class="head-work">
            Haldi
        </h2>
        <p style="color: #453229; opacity: 80%; text-align: center;">

            Brighten Your Haldi Ceremony with our Golden Touch. Explore Our Captivating Collection!
        </p>
        <div class="product-buttons" >
            <div class="button-item_ss">
                <a href="{% url 'product' 'Haldi' %}" class="btn btn-dark px-4 py-2">View Collection</a>
            </div>
        </div>
    </div>
   </div>
   </div>

   <div class="container content">
    <div class="row align-items-center">
     <div class="col-md-6 text-center text-md-start  pb-3 animate " >
      <h2 class="head-work">
        Sangeet
      </h2>
      <p style="color: #453229; opacity: 80%; text-align: center;">
        Celebrate your Sangeet in style with StyleSurfer. Our collection blends vibrant tradition with modern flair, making every dance and moment unforgettable.
      </p>
      <div class="product-buttons" >
        <div class="button-item_ss">
            <a href="{% url 'product' 'Sangeet' %}" class="btn btn-dark px-4 py-2">View Collection</a>
        </div>
    </div>
     </div>
     <div class="col-md-6 text-center animate">
      <img src="https://i.ytimg.com/vi/PvfaamYMu9s/maxresdefault.jpg" width="600" height="600"class="img-fluid">
     </div>
    </div>
   </div>
   
   <div class="container content">
    <div class="row align-items-center mt-4">
     <div class="col-md-6 text-center animate " >
      <img src="https://blog.g3fashion.com/wp-content/uploads/2022/02/main.webp" width="600" height="600" class="img-fluid">
     </div>
     <div class="col-md-6 text-center text-md-start mt-4 pb-2 animate" >
        <h2 class="head-work"> 
            Look your best on your special day.
        </h2>
        <p style="color: #453229; opacity: 80%; text-align: center;">

            Find the perfect outfit for your wedding without spending a fortune.
            From stylish sherwanis to classic suits, our collection has everything  you need to  look amazing and feel confident. rent your dream look and make unforgettable memories.
        </p>
        <div class="product-buttons">
            <div class="button-item_ss">
                <a href="{% url 'product' 'Wedding' %}" class="btn btn-dark px-4 py-2">View Collection</a>
            </div>
        </div>
    </div>
   </div>
   </div>

   <div class="container content">
    <div class="row align-items-center">
     <div class="col-md-6 text-center text-md-start  pb-3 animate"  >
      <h2 class="head-work">
        Reception
      </h2>
      <p style="color: #453229; opacity: 80%; text-align: center;">
        Make your reception unforgettable with StyleSurfer’s exclusive collection.  From timeless designs to contemporary styles, we bring you outfits that combine elegance and comfort, ensuring you shine effortlessly on your special night.
      </p>
      <div class="product-buttons" >
        <div class="button-item_ss">
            <a href="{% url 'product' 'Reception' %}" class="btn btn-dark px-4 py-2">View Collection</a>
        </div>
    </div>
     </div>
     <div class="col-md-6 text-center animate">
      <img src="https://static1.squarespace.com/static/6564afb4f0851760cfcdde58/t/65a6da92676f4671557f23cf/1705433746287/Harini-Aswin-MCC-Hall-Chennai-0609+-+Copy.jpg?format=1500w" width="600px"  height="600px" class="img-fluid">
     </div>
    </div>
   </div>
    

   <div class="rent-by-groom " >
    <p class="head-work">Our Happy Grooms</p>
</div>

<div id="carouselExample" class="carousel slide p-5 ">
    <div class="carousel-inner " >
      <div class="carousel-item active">
        <img src="{% static 'images/24145852355858f.png' %}" class="d-block w-100 carousel-image img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://charujewels.com/blog/wp-content/uploads/2021/08/charu_blog_cover-06-1024x576.jpg" class="d-block w-100 carousel-image img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://rajgharanaa.com/wp-content/uploads/2024/08/RAJGHARANAA-COUPLE-1536x864.jpg" class="d-block w-100 carousel-image img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon " aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container1">
    <div class="rent-by-groom-style-card" >
        <p>discover Collection For Groomsmen</p>
    </div>
  <div class="swiper mySwiper groom-cards">
    <div class="swiper-wrapper">
      <div class="swiper-slide card" >
        <div class="card-inner">
          <div class="card-front">
            <img src="https://shreeman.in/cdn/shop/files/1J8A5163.jpg?v=1710418492&width=700"  >
            <h3>Sherwani</h3>
          </div>
          <div class="card-back" >
            <p>"Sherwanis crafted for the perfect groom."</p>
            <div class="product-buttons " >
                <div class="button-item_ss">
                    <a href="{% url 'product' 'Sherwani' %}" class="btn btn-dark px-4 py-2 card-collection">View Collection</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide card">
        <div class="card-inner">
          <div class="card-front">
            <img src="https://shreeman.in/cdn/shop/files/1J8A5065.jpg?v=1733382682&width=700" ><!--https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROCQZHGYSFnY0XOphdv2v_c5wdKk7h9UswMQ&s-->
            <h3>Kurta Set</h3>
          </div>
          <div class="card-back">
            <p>"Celebrate moments with our premium kurta sets."</p>
            <div class="product-buttons" >
                <div class="button-item_ss">
                    <a href="{% url 'product' 'kurta' %}" class="btn btn-dark px-4 py-2 card-collection">View Collection</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide card">
        <div class="card-inner">
          <div class="card-front">
            <img src="https://shreeman.in/cdn/shop/files/1J8A3427.jpg?v=1728646128&width=700">
            <h3>Kurta Jacket</h3>
          </div>
          <div class="card-back">
            <p>"Kurta jacket Perfect for every festive vibe."</p>
            <div class="product-buttons" >
                <div class="button-item_ss">
                    <a href="{% url 'product' 'Kurta_Jacket' %}" class="btn btn-dark px-4 py-2 card-collection">View Collection</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide card">
        <div class="card-inner">
          <div class="card-front">
            <img src="https://shreeman.in/cdn/shop/files/1J8A1260.jpg?v=1683358032&width=700" >
            <h3>Tuxedo</h3>
          </div>
          <div class="card-back">
            <p>"A timeless classic for every gentleman"</p>
            <div class="product-buttons" >
                <div class="button-item_ss">
                    <a href="{% url 'product' 'Tuxedo' %}" class="btn btn-dark px-4 py-2 card-collection">View Collection</a>
                </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  </div>



<div class="row p-4  pt-2 pb-0   " >
    <div class="col-sm-6 col-12 pb-3 col-md-6 d-flex justify-content-center " >
       <div class="media-wrap">
            <img src="{% static 'images/pink_sharwani.jpg' %}" class="img-fluid" loading="lazy" width="100%" >

       </div>

    </div>
    <div class="col-sm-6 col-12 pb-2 col-md-6 d-flex justify-content-center" >
       <div class="media-wrap">
        <video  autoplay muted loop width="100%" data-bs-toggle="modal" data-bs-target="#videoogroom">
            <source src="{% static 'images/sherwani_1.mp4' %}">
        </video>

       </div>
    </div>
 <div class="modal fade" id="videoogroom">
    <div class="modal-dialog ">

        <div class="modal-content ">

            <div class="modal-body ">
                <video  autoplay muted loop width="100%" height="100%"  >
                    <source src="{% static 'images/sherwani_1.mp4' %}">
                </video>
            </div>
        </div>
    </div>
</div>
</div>

<div class="swiper-container">
  <div class="rent-by-groom-review">
      <p>Hear from our happy customers</p>
  </div>

  <div class="swiper mysSwiper card-review">
      <div class="swiper-wrapper card-reviewss">
          {% for review in reviews %}
          <div class="swiper-slide">
              <div class="stars">
                  {% for i in "12345"|make_list %}
                      <span class="{% if forloop.counter <= review.rating %}filled-star{% else %}empty-star{% endif %}">★</span>
                  {% endfor %}
              </div>

              <p class="text">"{{ review.review }}"</p>
              <p class="name">{{ review.user.username }}</p>
              <p class="review-date">🕒 Reviewed on {{ review.created_at|date:"d M Y" }}</p>
          </div>
          {% endfor %}
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
  </div>
</div>


{% endblock %}

{% block js %}
<script>
    // slider //
var swiper = new Swiper(".card_slider",{
    spaceBetween: 30,
    loop: true,
    speed: 1000,
    autoplay:{
      delay: 2000,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
  nextEl: ".swiper-button-next",
  prevEl: ".swiper-button-prev",
},
breakpoints: {320: {slidesPerView: 2 , spaceBetween: 20, },768: {slidesPerView: 3, },1200: {slidesPerView: 5, },480: {slidesPerView: 2,},},
  });

// slider //
var swiper = new Swiper(".card_slider-sherwani",{
    spaceBetween: 30,
    loop: true,
    speed: 1000,
    autoplay:{
      delay: 2000,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
  nextEl: ".swiper-button-next",
  prevEl: ".swiper-button-prev",
},
breakpoints: {320: {slidesPerView: 2 , spaceBetween: 20, },768: {slidesPerView: 3, },1200: {slidesPerView: 5, },480: {slidesPerView: 2,},},
  });




  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1, // Default for small screens
    spaceBetween: 20,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },

    loop: true,
    breakpoints: {
      768: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      1024: {
        slidesPerView: 4,
        spaceBetween: 40,
      },

    },
  });

  var swiper = new Swiper(".mysSwiper", {
    loop: true,
    grabCursor: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    slidesPerView: 1, // Show one card at a time
    spaceBetween: 20,
    breakpoints: {
      768: {
        slidesPerView: 2, // Show two cards on larger screens
      },
      1024: {
        slidesPerView: 3, // Show three cards on extra-large screens
      },
    },
  });

</script>
{% endblock %}